.help .main-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #000000;
}

.help .helpquery {
  margin-right: 15%;
  margin-left: 15%;
}

.help {
  margin-bottom: 100px;
}

.query-options {
  padding: 24px;
  margin-top: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.query-main {
  display: flex;
}

.faq-ans {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  margin-top: 10px;
  transition: all 0.5s ease-out;
  color: #000000;
  padding-right: 10%;
}

.query-expand-button {
  margin-left: auto;
  cursor: pointer;
  margin-right: 50px;
}

.query-heading {
  font-weight: 550;
  font-size: 28px;
  line-height: 150%;

  color: #000000;
}

@media screen and (max-width: 480px) {
  .help .helpquery {
    margin-right: 5px;
    margin-left: 5px;
  }

  .query-heading {
    font-size: 18px;
    padding-right: 15px;
  }

  .query-options {
    padding: 10px;
  }
  .faq-ans {
    font-size: 12px;
  }
  .query-expand-button {
    height: 15px;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
  }

  .help .main-header {
    padding-right: 15px;
    font-size: 38px;
  }
}
